@import "./reset.css";
@import "./form.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #f7f7f7;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  border: 0;
  background-color: dodgerblue;
}

button:focus {
  outline: none;
}

.make_box,
.result_box {
  display: none;
}
